# Python cache
__pycache__/
*.py[cod]
.$py_class

# Virtual environments
venv/
.venv/
env/

# Environment variables (API keys, passwords)
.env

# VS Code
.vscode/
.json

# Windows
Thumbs.db
.DS_Store

# output
output/
outputs/
out/
